@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
}

img {
  max-width: 100%;
  max-height: 150%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
}

.btn {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 5;
  border-color: rgb(255, 160, 168);
  color: rgb(189, 82, 82);
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  position: relative;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
}
